








/**

Original Adweek css
*/
html
{
    overflow: auto !important;
    overflow-x: hidden !important;
}
body, html
{
    height: 100%;
}
body
{
    font-family: 'HelveticaLT', sans-serif;
}

.page-container
{
    max-width: 1366px;
    margin: 0 auto;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}
.helvetica
{
    font-family: "HelveticaLT", Helvetica, sans-serif;
}
.helvetica-light
{
    font-family: "HelveticaLTPro-Light", Helvetica, sans-serif;
}
.helvetica-bold
{
    font-family: "HelveticaLT-Bold", Helvetica, sans-serif;
}
.garamond
{
    font-family: "adobe-garamond-pro", Times, serif;
}
.mg-blue
{
    color: #3c6983;
}
.italic
{
    font-style: italic;
}
.page-section
{
    position: relative;
    overflow: hidden;
}
.white-bg
{
    background: #FFF;
}
.page-section.full-height
{
    min-height: 100%;
}

.match_logo
{
    background: url('../img/match_mg_logo_white_icons.png') no-repeat;
    width: 134px;
    height: 39px;
    float: left;
    display: block;
    outline: none;
    z-index: 10;
}
.horiz_bar
{
    border-top: 4px solid #FFF;
    width: 28px;
    display: inline-block;
}
.horiz_bar.red
{
    border-top: 4px solid #da2635;
}
.nicescroll-rails {
    display: none;
}
.position-relative
{
    position: relative;
}
.vertical-center-cont
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: table;
}
.vertical-center
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.mmg-btn
{
    color: #FFF;
    border: 1px solid #FFF;
    padding: 10px 15px;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: .6s all;
    -moz-transition: .6s all;
    -ms-transition: .6s all;
    -o-transition: .6s all;
    transition: .6s all;
    opacity: .75;
}
.mmg-btn:hover,
.mmg-btn:active,
.mmg-btn:focus
{
    text-decoration: none;
    color: #fff;
    background: rgba(0,0,0,.3);
    opacity: 1;
}
.mmg-btn-large
{
    padding: 20px 48px;
    font-size: 18px;
    line-height: 18px;
}

/* Nav */
#mainNavFixed
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    width: 100%;
}
#mainNavFixed .underlay
{
    background: rgba(0,0,0,.15);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
}
#mainNavCont
{
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar-match .navbar-toggle .icon-bar
{
    background-color: #FFF;
}
#pageNav
{
    float: right;
    margin-top: 10px;
    min-height: 0;
    margin-bottom: 0;
    border: none;
}
#pageNav ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
#pageNav li
{
    display: inline-block;
}
#pageNav a,
#pageNav a:active,
#pageNav a:focus
{
    color: #FFF;
    text-decoration: none;
    -webkit-transition: .6s all;
    -moz-transition: .6s all;
    -ms-transition: .6s all;
    -o-transition: .6s all;
    transition: .6s all;
    outline: none;
}

#pageNav a::before
{
    content: "\2219";
    color: #FFF;
    padding: 0 10px;
}
#pageNav li.first a::before
{
    content: "";
    color: #FFF;
    padding: 0;
}
#pageNav a:hover,
#pageNav a.active
{
    color: #3c6983;
    text-decoration: none;
    letter-spacing: 2px;
}





/* Landing */

#page_1
{
    background: url('../img/home_bg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFF;
}
#page_1.fixed
{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
#homeVideoCont
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#homeVideo
{
    position: absolute;
    top: 50%;
    left: 50%;
}
#lockupContainer
{
    margin-top: -15px;
    width: 100%;
}
#landingLockup
{
    font-size: 54px;
}
#landingLockupLine
{
    font-size: 54px;
}
#landingLockupLine .garamond
{
    font-size: 74px;
}
#landingLockupLine .tm
{
    font-size: 14px;
    top: -30px;
    left: 5px;
}
#landingLockupCopy
{
    font-size:20px;
}
.work-with-us-btn
{
    padding: 20px 48px 17px;
    margin-top: 42px;
}


#weAreHeader
{
    color: #929394;
    margin-top: 15px;
    position: relative;
}
#weAreHeader .hello
{
    font-size: 81px;
}
#weAreHeader .sub-headline
{
    font-size: 40px;
}
#weAreHeader .copy
{
    line-height: 28px;
    letter-spacing: 1px;
}
#weAreHeader .digital-first
{
    font-size: 20px;
}

#weAreBlocks
{
    margin-top: 30px;
}
#weAreBlocks .block
{
    width: 28%;
    border: 1px solid #b4c1ca;
    min-height: 220px;
    float: left;
    margin-right: 8%;
    color: #b4c1ca;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
#weAreBlocks .block .content
{
    position: relative;
    margin: 35px 15px 15px;
}
#weAreBlocks .block .underlay
{
    background: #25282b;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
#weAreBlocks .block-copy
{
    position: relative;
}
#weAreBlocks .block-copy .block-title,
#weAreBlocks .block-copy .block-desc
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
#weAreBlocks .block-copy .block-desc{ 
    color: #FFF; 
    z-index: 1;
    position: relative;
}

#weAreBlocks .block:nth-child(3n+1),
#weAreBlocks .block-1
{
}
#weAreBlocks .block:nth-child(3n+3),
#weAreBlocks .block-3
{
    margin-right: 0;
}

#weAreBlocks .icon-cont {
    position: relative;
    margin: 0 auto;
    width: 65px;
    height: 65px;
}
#weAreBlocks .icon {
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    display: block;
    width: 65px;
    height: 65px;
    position: absolute;
    top:0;
    left:0;
    -webkit-transition: opacity .7s;
    -moz-transition: opacity .7s;
    -ms-transition: opacity .7s;
    -o-transition: opacity .7s;
    transition: opacity .7s;
}
#weAreBlocks .block .icon.icon_img_hover {
    opacity:0;
    -webkit-transition: opacity .7s;
    -moz-transition: opacity .7s;
    -ms-transition: opacity .7s;
    -o-transition: opacity .7s;
    transition: opacity .7s;
}
#weAreBlocks .block:hover .icon {  opacity:0;  }
#weAreBlocks .block:hover .icon.icon_img_hover {  opacity:1;  }

#weAreBlocks .action .icon{
    background-position: -5px -5px;
}

#weAreBlocks .action .icon.icon_img_hover {
    background-position: -80px -5px;
}

#weAreBlocks .converge .icon {
    background-position: -155px -5px;
}

#weAreBlocks .converge  .icon.icon_img_hover {
    background-position: -5px -80px;
}

#weAreBlocks .drive .icon {
    background-position: -80px -80px;
}

#weAreBlocks .drive .icon.icon_img_hover {
    background-position: -155px -80px;
}

#weAreBlocks .lab .icon {
    background-position: -5px -155px;
}

#weAreBlocks .lab .icon.icon_img_hover {
    background-position: -80px -155px;
}

#weAreBlocks .popup .icon {
    background-position: -155px -155px;
}

#weAreBlocks .popup .icon.icon_img_hover {
    background-position: -230px -5px;
}

#weAreBlocks .weld .icon {
    background-position: -230px -80px;
}

#weAreBlocks .weld .icon.icon_img_hover {
    background-position: -230px -155px;
}



    /* Underlay transition */
    .no-csstransitions #weAreBlocks .block:hover .underlay { display: block; }
    .csstransitions #weAreBlocks .block .underlay {
        display: block;
        top: 100%;
        -webkit-transition: all .7s;
        -moz-transition: all .7s;
        -ms-transition: all .7s;
        -o-transition: all .7s;
        transition: all .7s;
    }
    .csstransitions #weAreBlocks .block:hover .underlay { top: 0; }

    /* Copy transition */
    .csstransitions #weAreBlocks .block-copy .block-title {
        opacity: 1;
        -webkit-transition: all .4s;
        -moz-transition: all .4s;
        -ms-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
    }
    .no-csstransitions #weAreBlocks .block:hover .block-copy .block-title { display: none; }
    .csstransitions #weAreBlocks .block:hover .block-copy .block-title { opacity: 0; }


#page_3
{
    background: #f5f4f5;
}
#caseStudy .hero-image
{
    min-height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 36%;
    position: relative;
}
#caseStudy .hero-image .overlay
{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: #1aaaa0;
}
#csInfo
{
    margin-top: -150px;
}
#csLogo
{
    margin: -120px auto 20px;
    display: block;
}
#csCopy
{
    background: #FFF;
    text-align: center;
    color: #929394;
    margin: 0 15px;
    padding: 15px;
    border: 1px solid #dbd9db;
}
#csCopy .description
{
    line-height: 1.8em;
}
#csCopy .info_icon
{
    margin: 30px auto;
}
#csCopy h2
{
    font-size: 36px;
}
#csItems
{
    margin-top: 30px;
}
#csItems .cs-item
{
    display: block;
    margin-bottom: 20px;
    margin-right: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding-bottom: 75%;
}
#csItems .cs-item .overlay
{
    background: rgba(0, 0, 0, 0.40);
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -ms-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
}

#csItems:hover .cs-item .overlay
{
    opacity: 1;
}

#csItems:hover .cs-item:hover .overlay
{
    opacity: .6;
}


#slideControl
{
    position: fixed;
    width: 100%;
    top: 50%;
    margin-top: -25px;
    height: 0;
}
#slideControl .arrow-cont
{
    position: relative;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
    height: 0;
}
#slideControl .arrow
{
    border: 1px solid #24272a;
    padding: 18px 10px;
    display: block;
    z-index: 10;
    font-size: 14px;
    color: #24272a;
    position: relative;
    background: rgba(255,255,255,.7);
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
}
#slideControl .arrow .helvetica
{
    font-style: normal;
}
#slideControl .prev-arrow .link-text
{
    position: absolute;
    right: 10px;
    top: 18px;
}
#slideControl .next-arrow .link-text
{
    position: absolute;
    left: 10px;
    top: 18px;
}
#slideControl .prev-arrow
{
    float: left;
}
#slideControl .arrow-cont.prev-arrow
{
    margin-left: 50px;
}
#slideControl .arrow-cont.prev-arrow .arrow
{
    border-left: none;
    left: -100%;
}
#slideControl .next-arrow
{
    float: right;
}
#slideControl .arrow-cont.next-arrow
{
    margin-right: 50px;
}
#slideControl .arrow-cont.next-arrow .arrow
{
    border-right: none;
    left: 100%;
}
#slideControl .arrow:active,
#slideControl .arrow:focus
{
    text-decoration: none;
}
#slideControl .arrow:hover
{
    background: #1aaaa0;
    text-decoration: none;
    border-color: transparent;
}

#slideControl .arrow-cont.prev-arrow.active,
#slideControl .arrow-cont.next-arrow.active
{
    margin-left: 0;
    margin-right: 0;
}
#slideControl .arrow-cont.prev-arrow.active .arrow,
#slideControl .arrow-cont.next-arrow.active .arrow
{
    left: 0;
}
#slideControl .arrow .link-text,
#slideControl .arrow .hover-text
{
    opacity: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
#slideControl .arrow .link-text
{
    opacity: 1;
}
#slideControl .arrow .hover-text
{
    color: #FFF;
}
#slideControl .arrow:hover .link-text
{
    opacity: 0;
}
#slideControl .arrow:hover .hover-text
{
    opacity: 1;
}
.plus-btn
{
    width: 64px;
    height: 64px;
    font-size: 64px;
    line-height: 64px;
    display: inline-block;
    text-align: center;
    position: absolute;
    opacity: .65;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -32px;
    vertical-align: baseline;
    color: rgba(255,255,255,.8);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    opacity: 0;
}
#csItems:hover .cs-item:hover .plus-btn
{
    opacity: 1;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    text-shadow: 0 0 15px rgba(0,0,0,.7)
}
.play-btn
{
    background: url(../img/play_btn.png) no-repeat;
    width: 64px;
    height: 64px;
    display: inline-block;
    position: absolute;
    opacity: .65;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -32px;
}
#csItems:hover .cs-item:hover .play-btn
{
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 1;
}





#page_4
{
    background: #f5f4f5;
}
#leadershipHeader h2
{
    font-size: 24px;
    color: #929394;
    text-align: center;
}
.brace-box
{
    width: 100%;
    border-top: 1px solid #dbd9db;
    border-left: 1px solid #dbd9db;
    border-right: 1px solid #dbd9db;
    height: 12px;
    margin-bottom: 25px;
}
#leadersContainer
{
    white-space: nowrap;
    position: relative;
}
.neg-skew
{
    -webkit-transform: skewX(-8deg);
    -moz-transform:skewX(-8deg);
    -o-transform:skewX(-8deg);
    transform:skewX(-8deg);
}
.pos-skew
{
    -webkit-transform: skewX(8deg);
    -moz-transform: skewX(8deg);
    -o-transform: skewX(8deg);
    transform: skewX(8deg);
}
.leadership-height
{
    height: 340px;
}
#leadershipTeam .close-btn-cont
{
    position: absolute;
    top: 0;
    right: -3px;
}
#leadershipTeam .close-btn
{
    background: url('../img/skew_x.png');
    background-position: -43px 0;
    width: 35px;
    height: 29px;
    display: block;
    outline: none;
    opacity: .8;
}
#leadershipTeam .active .close-btn
{
    background-position: 0 0;
}
#leadershipTeam .close-btn:hover
{
    opacity: 1;
}
#leadershipTeam
{
    background: #00bcb4;
}
#leadershipTeam .leader
{
    overflow: hidden;
    display: inline-block;
    width: 279px;
    background: #000;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
#leadershipTeam .leader.active
{
    width: 500px;
}
#leadershipTeam .leader .inner
{
    width: 500px;
    position: relative;
}
#leadershipTeam .leader .image-cont
{
    width: 279px;
    overflow: hidden;
    float: left;
    cursor: pointer;
    opacity: .7;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -ms-transition: opacity .6s;
    -o-transition: opacity .6s;
    transition: opacity .6s;
}
#leadershipTeam .leader.active .image-cont,
#leadershipTeam .leader:hover .image-cont
{
    opacity: 1;
}
#leadershipTeam .leader.active .image-cont
{
    cursor: inherit;
}
#leadershipTeam .leader img
{
    width: 333px;
    position: relative;
    left: -27px;
}
#leadershipTeam .leader .employee-info-cont
{
    width: 221px;
    background: #00bcb4;
    color: #FFF;
    float: left;
    overflow: hidden;
}
#leadershipTeam .leader .employee-info
{
    text-align: center;
    padding: 0 10px;
    white-space: normal;
    width: 100%;
}
#leadershipTeam .leader .name
{
    font-size: 24px;
}
#leadershipTeam .leader .title
{
    font-size: 18px;
}


#page_5
{
    background: rgb(47, 125, 163);
}
#officeTabsCont
{
    background: #3a6280;
    text-align: center;
}
#officeTabsCont .tab
{
    display: inline-block;
    width: 14%;
    color: #7591a6;
    padding: 25px 0 20px;
    text-decoration: none;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -ms-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
    outline: none;
}
#officeTabsCont .tab:active
{
    outline: none;
}
#officeTabsCont .tab:hover,
#officeTabsCont .tab.active
{
    color: #FFF;
    text-decoration: none;
    background: #284459;
}


#officeInfo
{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-transition: .7s all;
    -moz-transition: .7s all;
    -ms-transition: .7s all;
    -o-transition: .7s all;
    transition: .7s all;
}
#officeDetials
{
    opacity: .5;
    color: #FFF;
}
#locationsCol
{
    max-width: 100%;
}
#officeDetials h2
{
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 100px;
}
#officeDetials .address
{
    font-size: 20px;
}
#officeDetials .address > p
{
    margin-top: 0;
}


#contactFormCont
{
    background: #25282b;
    min-height: 400px;
    margin: 55px auto;
    padding: 40px 40px 10px;
}
#contactForm .title
{
    color: #FFF;
    margin-top: 0;
}
#contactForm input,
#contactForm textarea
{
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    color: #FFF;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #3b3e41;
    background: #303336;
    margin-bottom: 15px;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -ms-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
    outline: none;
    font-size: 14px;
}
#contactForm input:hover,
#contactForm textarea:hover
{
}
#contactForm input:focus,
#contactForm textarea:focus
{

    border: 1px solid #24b0aa;
}
#contactForm .error input,
#contactForm .error textarea,
#contactForm input.ng-invalid.ng-touched,
#contactForm textarea.ng-invalid.ng-touched
{

    border: 1px solid #FF0000;
}
#contactForm input[type=submit]
{
    cursor: hand;
    color: #FFF;
    color: rgba(255,255,255,.3);
    border: 1px solid #FFF;
    border: 1px solid rgba(255,255,255,.30);
    background: transparent;
    font-size: 16px;
    padding: 12px 35px 10px;
    width: auto;
}
#contactForm input[type=submit]:hover
{
    color: #24b0aa;
    border: 1px solid #24b0aa;
}
::-webkit-input-placeholder {color: #FFF; color: rgba(255,255,255,.30); -webkit-transition: color .7s;}
:-moz-placeholder {color: #FFF; color: rgba(255,255,255,.30); -moz-transition: color .7s;}
::-moz-placeholder {color: #FFF; color: rgba(255,255,255,.30); -moz-transition: color .7s;}
:-ms-input-placeholder {color: #FFF; color: rgba(255,255,255,.30); -ms-transition: color .7s;}
.placeholder{ color: #FFF; color: rgba(255,255,255,.30);}

:hover::-webkit-input-placeholder {color: #24b0aa;}
:hover:-moz-placeholder{color: #24b0aa;}
:hover::-moz-placeholder{color: #24b0aa;}
:hover:-ms-input-placeholder {color: #24b0aa;}
.placeholder{ color: #24b0aa;}

.error ::-webkit-input-placeholder {color: #FF0000;}
.error :-moz-placeholder{color: #FF0000;}
.error ::-moz-placeholder{color: #FF0000;}
.error :-ms-input-placeholder {color: #FF0000;}
.error .placeholder{ color: #FF0000;}

.error_msg
{
    color: #FFF;
    font-size: 14px;
    font-family: "HelveticaLTPro-Light", Helvetica, sans-serif;
    margin: -10px 0 13px;
    overflow: hidden;
}

footer
{
    background: #25282A;
    padding: 40px 0;
    position: relative;

}
footer h6 {
    position: relative;
    margin: auto auto 0;
    width: 130px;
    height: 38px;
    text-indent: -9999em;
    background: url(../img/match_mg_logo_white_color.png) center no-repeat;
    background-size: contain;
}


footer .foot-nav {
    position: relative;
    padding: 30px 0;
    text-align: center;
}
footer .foot-nav ul {
    margin: 0;
    padding: 0;
}
footer .foot-nav li {
    display: inline-block;
}
footer .foot-nav a {
    color: #898A8A;
    font-size: 13px;
    margin: 0 15px;
}

footer p {
    color: #404244;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
}






/*
 Colorbox
*/
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(../img/colorbox/overlay.png) repeat 0 0; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;    box-shadow: 0 0 20px rgba(0,0,0,.8);}
#cboxContent{background:#fff; overflow:hidden;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{margin:0px;}
#cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
#cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
#cboxLoadingOverlay{background:url(../img/colorbox/loading_background.png) no-repeat center center;}
#cboxLoadingGraphic{background:url(../img/colorbox/loading.gif) no-repeat center center;}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

#cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
#cboxPrevious{position:absolute; bottom:0; left:0; background:url(../img/colorbox/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
#cboxPrevious:hover{background-position:-75px -25px;}
#cboxNext{position:absolute; bottom:0; left:27px; background:url(../img/colorbox/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
#cboxNext:hover{background-position:-50px -25px;}
#cboxClose{position:absolute; top:0; right:0; width:25px; height:25px;opacity:.5}
#cboxClose:hover{background-position:-25px -25px;opacity:1}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}




/* md */
@media (max-width: 992px)
{

    #weAreBlocks .block {
        min-height: 235px;
    }

    #csInfo {
        margin-top: 0;
    }
    #csLogo {
        display: none;
    }
    #csItems {
        margin-top: 20px;
    }
    #csItems .cs-item:last-child
    {
        margin-right: 0;
    }

    #officeDetials h2 {
        font-size: 60px;
        line-height: 60px;
    }

}

/* sm */
@media (max-width: 768px)
{
    .match_logo {
        position: absolute;
        top: auto;
        left: auto;
    }
    #pageNav {
        width: 100%;
        margin-top: 3px;
    }
    #pageNav li
    {
        padding: 10px 0;
        display: block;
        text-align: center;
    }
    #pageNav a
    {
    }
    #pageNav a::before {
        content: "";
        padding: 0;
    }
    .navbar-match .navbar-collapse
    {
        border-top: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .navbar-match .navbar-toggle
    {
        margin: 0;
    }

    #weAreBlocks .block {
        width: 46%;
        margin-right: 8%;
    }
    #weAreBlocks .block-3, #weAreBlocks .block:nth-child(3n+3) {
        margin-right: 8%;
    }
    #weAreBlocks .block-3, #weAreBlocks .block:nth-child(2n+2) {
        margin-right: 0;
    }
    #slideControl .arrow .hover-text {
        display: none;
    }
    #slideControl .prev-arrow .link-text {
        position: relative;
        right: auto;
        top: auto;
    }
    #slideControl .next-arrow .link-text {
        position: relative;
        left: auto;
        top: auto;
    }
    #slideControl .arrow-cont.prev-arrow {
        margin-left: 44px;
    }
    #slideControl .arrow-cont.next-arrow {
        margin-right: 44px;
    }
    #slideControl .arrow:hover .link-text {
        opacity: 1;
    }

    #locationsCol {
        margin-top: 30px;
        position: relative !important;
        top: auto !important;
    }
    #contactFormCont
    {
        margin-top: 20px;
    }
}

/* content 550 */
@media (max-width: 550px)
{
    #landingLockup, #landingLockupLine
    {
        font-size: 41px;
    }
    #landingLockupLine .garamond {
        font-size: 57px;
    }
    #landingLockupCopy {
        font-size: 14px;
    }
    .work-with-us-btn {
        padding: 16px 33px 13px;
        margin-top: 22px;
        font-size: 14px;
    }
    #landingLockupLine .tm {
        font-size: 10px;
        top: -20px;
        left: 2px;
    }
    #weAreHeader .hello {
        font-size: 54px;
    }
    #weAreHeader .sub-headline {
        font-size: 21px;
    }
    #weAreHeader .copy {
        font-size: 13px;
        line-height: 20px;
    }
    #weAreHeader .digital-first {
        font-size: 16px;
    }

    .plus-btn {
        width: 32px;
        height: 32px;
        font-size: 32px;
        line-height: 32px;
        display: inline-block;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -16px 0 0 -16px;
    }
    .play-btn {
        width: 32px;
        height: 32px;
        margin: -16px 0 0 -16px;
        background-size: 32px;
    }
    #officeTabsCont .tab {
        width: 33%;
        padding: 20px 0 15px;
        font-size: 14px;
    }
}
/* xs */
@media (max-width: 480px)
{
    #homeVideoCont
    {
        display: none;
    }
    #homeImgCont
    {
        background: url('../img/home_bg.jpg') no-repeat;
        background-size: cover;
        background-position: center;
    }
    #landingLockup, #landingLockupLine
    {
        font-size: 30px;
    }
    #landingLockupLine .garamond {
        font-size: 42px;
    }
    #landingLockupCopy {
        font-size: 11px;
    }

    #weAreBlocks .block {
        width: 100% !important;
        margin-right: 0 !important;
    }


    #officeDetials h2 {
        font-size: 36px;
        line-height: 36px;
    }

}


